<!doctype html>
<html>
<head>
    <title>LOVE BUDDY</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


</head>

<body>
  <div class="container-fluid  mw-100 mh-100 ">

    <div id="carouselHeader" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselHeader" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Farm Fresh Produce"></button>
                <button type="button" data-bs-target="#carouselHeader" data-bs-slide-to="1"
                    aria-label="Free Delivery"></button>
                <button type="button" data-bs-target="#carouselHeader" data-bs-slide-to="2"
                    aria-label="Shop With Our App"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/img-loveBuddy/1.png" class="d-block w-100" alt="From our farm to your table">
                </div>
                <div class="carousel-item">
                    <img src="..//img/img-loveBuddy/6.png" class="d-block w-100" alt="Free Delivery with any paid plan">
                </div>
                <div class="carousel-item">
                    <img src="..//img/img-loveBuddy/7.png" class="d-block w-100" alt="Use the freshest app in the world">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselHeader" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselHeader" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

          </div>


          <div class="container pt-5">
            <% for(let i = 0; i < posts.length; i++) {%>

              <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                      <div class="card h-100 shadow">
                        <img src="data:image/png;base64,
                        <%=posts[i].img.toString('base64')%>"></div>                          <div class="card-body">
                          <h3 class="card-title"><%= posts[i].title %></h3>
                          <h4 class="card-text"><%= posts[i].body %></h4>
                          <h4 class="card-text"><%= posts[i].status %></h4>
                              <a href="#" class="btn btn-success">Read comments</a>
                          </div>
                          <div class="card-footer">
                              <small class="text-muted"></small>
                          </div>
                      </div>
                  </div>
                  <%} %>
                      </div>



</div>
  <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
      <script src="main.js"></script>


</body>
  </html>
