body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 200px;
}
#map {
  height: 500px;
}

p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.active-amber-textarea.md-form  label.active {
  color: #ffa000;
}
.amber-textarea textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffa000;
  box-shadow: 0 1px 0 0 #ffa000;
}
.amber-textarea.md-form .prefix.active {
  color: #ffa000;
}
.active-amber-textarea.md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #ffa000;
}


.google-button {
  height: 40px;
  border-width: 0;
  background-color: #fff;
  color: #737373;
  border-radius: 3px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;
  margin: 5px;

  &:focus,
  &:hover {
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }

  &:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
  }
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 17px;/* 27 */
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}

a ~ a {
  margin-left: 20px;
}


.gram-card{
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  width: 100%;

  margin:auto;
  margin-bottom: 40px;


}

.gram-card-header{
  padding: 20px;
  height: 40px;
}

.user-image {
  margin-top: 10px;
  border-radius: 50%;
  vertical-align: middle;
  width: 100px;
  height: 100px;
}
.gram-card-user-image{
  border-radius: 50%;
  width: 40px;
  height: 40px;

}

.time {
  float:right;

  padding-top:10px;

  color: #999;
}
.gram-card-time{
  float: right;
  width: 23px;
  padding-top:10px;
  text-align: right;
  color: #999;
}

.gram-card-user-name{
  margin-left:10px;
  font-weight:bold;
  color: #262626;
}

.gram-card-content{
  padding: 20px;
}
.img-responsive {
  max-height: 100%;
  align-self: center;
  align-content:center;
}
.likes{

  font-weight: bold;
}

.gram-card-content-user{
  font-weight: bold;
  color: #262626;
}

.hashtag{
  color: #003569;
}

.comments{
  color:#999;
}

.user-comment{
  color: #003569;
}

.gram-card-footer{
  padding: 20px;
  display: flex;
  align-items: center;
}

hr{
  border: none;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;

}


.footer-action-icons{
  font-size: 16px;

}

.comments-input{
  border: none;
  margin-left: 10px;
  width: 100%;
}
/* .pink-textarea textarea .md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.pink-textarea.md-form .prefix.active {
  color: #f48fb1;
}
.active-pink-textarea.md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #f48fb1;
}
.active-pink-textarea-2 textarea.md-textarea {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink-textarea-2.md-form label.active {
  color: #f48fb1;
}
.active-pink-textarea-2.md-form label {
  color: #f48fb1;
}
.active-pink-textarea-2.md-form .prefix {
  color: #f48fb1;
}
.active-pink-textarea-2.md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #f48fb1;
}

.active-amber-textarea-2 textarea.md-textarea {
  border-bottom: 1px solid #ffa000;
  box-shadow: 0 1px 0 0 #ffa000;
}
.active-amber-textarea-2.md-form label.active {
  color: #ffa000;
}
.active-amber-textarea-2.md-form label {
  color: #ffa000;
}
.active-amber-textarea-2.md-form .prefix {
  color: #ffa000;
}
.active-amber-textarea-2.md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #ffa000;
} */
