<header>
    <div id="navbar">
        <div id="leftButtons">
            <div><img src="/images/navbar/logo.svg"></div>
            <input type="search" placeholder="Search Facebook">
        </div>
        <div id="middleButtons">
            <a href="/"><img src="/images/navbar/home.svg"></a>
            <div><img src="/images/navbar/watch.svg"></div>
            <div><img src="/images/navbar/marketplace.svg"></div>
            <div><img src="/images/navbar/groups.svg"></div>
        </div>
        <div id="rightButtons">
            <div id="navbarUser">
                <%- currentUser.firstName %>
                <div></div>
            </div>
            <div>
                <img src="/images/navbar/circle.svg" class="background-circle">
                <img src="/images/navbar/cross.png" class="over-img" id="navbarCross">
            </div>
            <div>
                <img src="/images/navbar/circle.svg" class="background-circle">
                <img src="/images/navbar/messenger.svg" class="over-img">
            </div>
            <div>
                <img src="/images/navbar/circle.svg" class="background-circle">
                <img src="/images/navbar/bell.svg" class="over-img">
            </div>
            <div>
                <img src="/images/navbar/circle.svg" class="background-circle">
                <img src="/images/navbar/arrow.svg" class="over-img" id="navbarArrow">
            </div>
        </div>
    </div>
</header>
