<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/sidenav.css">

  </head>
  <body>

		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button>
        </div>
	  		<div class="img bg-wrap text-center py-4" style="background-image: url(images/bg_1.jpg);">
	  			<div class="user-logo">
	  				<div class="img" style="background-image: url(images/logo.jpg);"></div>
	  				<h3>Catriona Henderson</h3>
	  			</div>
          <div class="bio">
            <p style= " font-size: 15px; line-height: 1.7; color: #adadad; }">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint incidunt est voluptas distinctio dolores corrupti quidem temporibus a harum, error.</p>
          </div>
	  		</div>

        <div class="activity" style= "padding-left: 20px; padding-right: 20px; margin-bottom: 30px; ">
          <h3 style =" color: #000; font-size: 16px;">Location</h3>
          <p>New York, USA</p>
        </div>

        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-cog mr-3"></span> Settings</a>
          </li>
            <li>
            <a href="#"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
          </li>
        </ul>


        <div class="fav-profiles" style= "padding-left: 20px; padding-right: 20px; margin-bottom: 30px;">
          <h3>Fav Profiles</h3>
          <div class="d-flex">
            <div class="row">
              <div class="col"><a href="#"><img src="images/person_1.jpg" alt="Image" class="img-fluid"></a></div>
              <div class="col"><a href="#"><img src="images/person_2.jpg" alt="Image" class="img-fluid"></a></div>
              <div class="col"><a href="#"><img src="images/person_3.jpg" alt="Image" class="img-fluid"></a></div>
              <div class="col"><a href="#"><img src="images/person_4.jpg" alt="Image" class="img-fluid"></a></div>
            </div>
          </div>
        </div>

    	</nav>
